<div class="sidebar">
  <nav>
    <ul class="side-nav">
      <li class="heading">
        <%= link_to "Events", events_path %>
      </li>
      <% Event.all.each do |event| %>
        <li>
          <%= link_to event.title, event_path(event.id) %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
